@using OrionBlog.Services
@model CategoryPost
@inject IImageService imageService 

    <!-- Page Header -->
    <header class="masthead" style="background-image: url(@imageService.DecodeFile(Model.ImageData, Model.ContentType))">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1>@Model.Title</h1>
                        <h2 class="subheading">@Html.Raw(Model.Abstract)</h2>
                        <span class="meta">
                            Written by
                            <a href="#">David R. Bergerson</a>
                            on @Model.Created.ToString("MMM dd, yyyy")
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                   @Html.Raw(Model.PostBody);
                </div>
            </div>
        </div>
    </article>

    <hr>


